@import '../styles/fonts.css';

.Container {
    margin-left: 20px;
    position: relative;
}

.Header {
    font-family: 'Josefin-Sans-Bold';
    font-size: 36px;
    color: #434ce5;
}
.Subtitles {
    margin-top: -20px;
    font-family: 'Josefin-Sans-Light';
    font-size: 20px;
}
.Messages {
    overflow: auto;
    max-height: 76vh;
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: column; /* New messages appear at the bottom */
    padding-bottom: 100px;
}
.TextBox {
    flex-direction: row;
    display: flex;
    justify-content: space-between; /* Spread the input and button across the container */
    align-items: center;
    background-color: #e6e4e4;
    height: 87px;
    width: 80vw;
    border-radius: 10px;
    bottom: 20px;
    position: fixed;
}

.TextBox form {
    display: flex;
    width: 100%; /* Ensure the form takes up the full width */
    align-items: center;
    border-radius: 10px;
}

.TextInput {
    border-width: 0px;
    background-color: #e6e4e4;
    font-family: 'Josefin-Sans-Regular';
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 100%;
    padding-left: 20px;
    border-radius: 10px;
}

.TextBox ion-icon {
    font-size: 48px;
    color: #434ce5;
    align-self: center;
    justify-self: center;
    margin-left: 10px; /* Add some space between the input and the icon */
}
