/* Fonts */
@font-face {
    font-family: 'Josefin-Sans-Bold';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin-Sans-Light';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype');
} 
  
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}