html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.MainContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.SidePanel {
    flex-shrink: 0;
}
.Dashboard {
    flex-grow: 1;
}
.Chatbot {
    flex-grow: 1;
}