.MessagesContainer {
    flex-direction: row;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80vw;
}
/* Bot messages - aligned to the left */
.MessagesContainer.bot {
    justify-content: flex-start;
}

/* User messages - aligned to the right */
.MessagesContainer.user {
    justify-content: flex-end;
}
.MessagePerson {
    font-family: 'Josefin-Sans-Bold';
    font-size: 20px;
}
.Message {
    font-family: 'Josefin-Sans-Regular';
    font-size: 20px;
    background-color: #d9d9d9;
    height: 49px;
    padding: 5px;
    align-content: center;
    border-radius: 5px;

}