/* Fonts */
@font-face {
    font-family: 'Josefin-Sans-Bold';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

/* Styles */
.FullLogo {
    padding-top: 20px;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.LogoImage {
    width: 48px;
    height: 48px;
}
.SidePanel {
    background-color: #000c0a;
    width: 228px;
    height: 100vh;
    justify-items: center;
}
.GroupName {
    color: #ffffff;
    font-family: 'Josefin-Sans-Bold';
    font-size: 28px;
}
.ButtonName {
    color: #ffffff;
    font-family: 'Raleway-SemiBold';
    font-size: 18px;
}
.Button {
    width: 207px;
    height: 50px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
}
.Button ion-icon {
    color: #ffffff;
    font-size: 20px;
}
.Button:hover {
    background-color: #747ae2;
    width: 207px;
    height: 50px;
}