/* Fonts */
@font-face {
    font-family: 'Josefin-Sans-Bold';
    src: url('../static/assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Josefin-Sans-Light';
    src: url('../static/assets/fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype');
} 

@font-face {
    font-family: 'Josefin-Sans-Regular';
    src: url('../static/assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../static/assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../static/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype')
}

.body {
    width: 1200px;
}
.title {
    font-family: 'Josefin-Sans-Bold';
    font-size: 36px;
    color: #434ce5;
}

.button {
    font-family: 'Raleway-SemiBold';
    color: #ffffff;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(185, 185, 185);
    cursor: pointer;
}
.button:hover {
    background-color: #747ae2;

}
.button:active {
    background-color: #434ce5;
}

.label {
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
}
.inputText {
    font-family: 'Raleway-SemiBold';
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #f5f5f5;
    align-content: center;
}
.checkboxContainer {
    width: 100%;
    font-family: 'Josefin-Sans-Bold';
    /* background-color: #f5f5f5; */
    border-radius: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    gap: 10px;
}
.checkboxContainer input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
    border-width: 0px;
}

.checkboxContainer label {
    font-size: 16px;
    font-family: 'Raleway-Regular';
}

.entity-container {
    /* border: 1px solid #ccc; Border for each category */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.topContainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
}
.buttonContainer {
    display: flex;
    margin-right: auto;
    gap: 20px;
}
.searchContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    right: 0px;
    margin-left: auto;
    padding: 10px;
}

.image-container {
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    height: 200px;  /* Adjust height as needed */
    width: 100%;
    text-align: center;
    font-family: 'Raleway-SemiBold';
    color: gray;
    background-color: #f3f3f3; /* Optional background */
    position: relative;
    margin-top: 20px;
    border-radius: 7px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* Show the alt text when the image fails to load */
.image-container::before {
    content: attr(alt); /* Get the alt text */
    position: absolute;
    text-align: center;
    font-size: 16px;
    color: gray;
}

/* Hide the pseudo-element when the image is loaded */
.image-container img:not([src]) {
    visibility: hidden;
}

.subtitle {
    font-family: 'Josefin-Sans-Light';
    font-size: 16px;
}



